{% extends 'base.html' %}

{% block body %}
    <h1>{{article.title}}</h1>
    <p>{{article.content}}</p>
    <p>{{article.user}}</p>

    {% if user == article.user %}
    <a href="">UpDate</a>
    <a href="{% url 'articles:delete' article.id %}">Delete</a>
    {% endif %}
    <hr>
    <form action="{% url 'articles:comment_create' article.id %}" method = 'POST'>
        {% csrf_token %}
        {{form}}
        <input type="submit">
    </form>
    <hr>
    {% for comment in article.comment_set.all %}
        <li>{{comment.user.username}} - {{comment.content}}</li>
        {% if comment.user == user %}
            <a href="{% url 'articles:comment_delete' article.id comment.id %}">Delete</a>
        {% endif %}
    {% endfor %}
{% endblock %}